<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ariser &mdash; Billing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/public/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <link rel="stylesheet" href="/public/css/jquery-ui.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/public/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/public/css/aos.css">
    <link rel="stylesheet" href="/public/css/rangeslider.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/inputappearance.css">
	<link rel="stylesheet" href="/public/css/autocomplete.css">
	<link rel="stylesheet" href="/public/css/stickynavbar.css">

	<script>
		var ClientList = <%- JSON.stringify(ClientList) %>;
		var Drawinglist = <%- JSON.stringify(DrawandCustList) %>;
		var TotalProductCount = <%- JSON.stringify(TotalCount) %>; 
	</script>

  </head>
  
  <body>

	<div class="site-wrap">
		
		<div class="site-mobile-menu">
			
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
            </div>
                  
			<div class="site-mobile-menu-body"></div>
                
		</div>
                
		<header id="navbar" class="site-navbar container py-0 bg-white" role="banner">

			<div class="row align-items-center">
                                  
				<div class="col-6 col-xl-2">
					<h1 class="mb-0 site-logo"><a href="http://localhost:3000/pages/home" class="text-black mb-0"><img style="max-width:330px; margin-top: 10px;" src="/public/images/AriserLogoLandscape.png" />  </a></h1>
                </div>
                                  
                <div class="col-12 col-md-10 d-none d-xl-block">
					<nav class="site-navigation position-relative text-right " role="navigation">
                    
						<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
							<li><a href="home">Home</a></li>
							<li class="has-children active">
									<a>Invoice</a>
									<ul class="dropdown">
										<li class="active"><a>Create Invoice</a></li>
										<li><a href="billhistory">Invoice History</a></li>
									</ul>
								</li>
								
								<li class="has-children">
									<a href="dispatch">Incoming</a>
									<ul class="dropdown">
										<li><a href="dispatch">Add Incoming</a></li>
										<li><a href="incomingquery">Incoming History</a></li>
									</ul>
								 </li>
							<li><a href="component">Components</a></li>
							<li><a href="customer">Clients</a></li>
							<li><a href="reports">Reports</a></li>
						</ul>
                     
					</nav>
				</div>
                            
			</div>
                      
		</header>

		<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(/public/images/Scene_3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
                    
			<div class="container">
                                
				<div class="row align-items-center justify-content-center text-center" style="padding-top: 90px">
                        
					<div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
						<div class="row justify-content-center mt-2">
							<div class="col-md-8 text-center">
								<h1>Invoice</h1>
							</div>
						</div>
					</div>
				
				</div>
        
			</div>

		</div> 
		
		<div class="site-section bg-light">
				<% if(Success == 1){ %>
					<div class="alert alert-success">
						<strong>Success!</strong> Bill inserted successfully
					</div>
					<% } else if(Success == 0){ %>
					<div class="alert alert-danger">
						<strong>Failure!</strong> Bill failed to insert
					</div>
				<% } %>
			<div class="container">
				<div class="row">
                	<div class="col-md-12 mb-5"  data-aos="fade">
						<form class="p-5 bg-white" method="post" autocomplete="off" action="/pages/billsave" onsubmit="return FormValidation()">	
							<div class="container">
								<table class="table table-sm table-bordered" id="billtable" name="billtable" style="border:1;">
									<tbody>
									<tr>
										<td rowspan="3" colspan="3" style="padding:30px 0px 0px 0px" width=100><b><p style="padding:0px 0px 0px 20px;">Invoice to:</p></b>
											<input name="customername" id="customer" type="text" placeholder="Company Name" style="padding:0px 0px 0px 50px;background-color:white;" readonly><br>
											<input name="customeraddress1" id="customeraddress1" style="padding:0px 0px 0px 50px;background-color:white;" readonly></input><br><input name="customeraddress2" id="customeraddress2" style="padding:0px 0px 0px 50px;background-color:white;" readonly><br><input name="city" id="city" style="padding:0px 0px 0px 50px;background-color:white;" readonly><br></input><input name="gstin" id="gstin" style="padding:0px 0px 0px 50px;background-color:white;" readonly></input></td>
										<td colspan="2" class="text-center" style="padding:20px 10px 20px 10px;"><b>Invoice No:</b><br><input id="invoiceno" class="text-center" name="invoiceno" type="number" placeholder="0" value="<%= BillNumber %>" readonly required/></td>
										<td colspan="2" class="text-center" style="padding:20px 10px 20px 10px;"><b>Invoice Date:</b><input id="invoicedate" class="text-center" name="invoicedate" type="text" placeholder="0" readonly required/></td>
									</tr>
								
									<tr>
										<th class="text-center" style="padding:20px 10px 20px 10px;">Your DC No</th>
										<th class="text-center" style="padding:20px 10px 20px 10px;">Code</th>
										<th class="text-center" style="padding:20px 10px 20px 10px;">Quantity</th>
										<th class="text-center" style="padding:20px 10px 20px 10px;">DC Date</th>
									</tr>
								
									<tr>
										<td id="DCNo" name = "dcno" class="text-center" style="padding:20px 10px 20px 10px;"></td>
										<td id="DCCompCode"  name = "dccompcode" class="text-center" style="padding:20px 10px 20px 10px;"></td>
										<td id="DCQuantity" name  = "dcquantity" class="text-center" style="padding:20px 10px 20px 10px;"></td>
										<td id="DCDate" name = "dcdate" class="text-center" style="padding:20px 10px 20px 10px;"></td>
									</tr>
								
									<tr>
										<th>S.No</th>
										<th>Component Code</th>
										<th>Description</th>
										<th>HSN</th>
										<th>QTY</th>
										<th>Rate/Unit</th>
										<th>Taxable Value</th>
									</tr>
									<tr id = "comp0" name="comp0">
										
										<td>
											1
										</td>

										<td>
												<div class="autocomplete" style="width:150px;">
													<input id="drawingcode"  class="drawingcode" type="text" name="drawingcode[]" placeholder="Code" onload="autocomplete(this,)" onkeydown="Option_Checker(this)" required>
												</div>
										</td>

										<td width=250>
												<input type="text" name='desc[]' placeholder="Select Product" class="form-control desc" step="0" min="0" style="border:0px; outline:0px;" readonly/>
										</td>

										<td>
												<input type="number" name='hsn[]' placeholder='0' class="form-control hsn" step="0" min="0" style="border:0px; outline:0px;" readonly/>
										</td>

										<td>
											<input type="number" name='qty[]' placeholder='0' class="form-control qty" step="0" min="0" style="border:0px; outline:0px;" required/>
										</td>

										<td>
											<input type="number" name='price[]' placeholder='0.00' class="form-control price" step="0.00" min="0" style="border:0px; outline:0px;" readonly/>
										</td>

										<td>
											<input type="number" name='total[]' placeholder='0.00' class="form-control total" style="border:0px; outline:0px;" readonly/>
										</td>

									</tr>
								
									<tr id='comp1' name="comp1 "></tr>
								</tbody>
								</table>
							</div>

							<div class="row clearfix">
								<div class="col-md-12">
									<input type = "button" id="add_row" class="btn btn-default pull-left" value = "Add Row"></input>
									<input type = "button" id="delete_row" class="pull-right btn btn-default " value = "Delete Row"></input>
								</div>
							</div>

							<div class="container">
								<div class="row">

									<div class="col-md-8">
									</div>

									<div class="pull-right col-md-4">
										<table class="table table-bordered table-hover" id="tab_logic_total">
											<tbody>
												<tr>
													<th class="text-center">Sub Total</th>
													<td class="text-center"><input type="number" name='sub_total' placeholder='0.00' class="form-control" id="sub_total" readonly/></td>
												</tr>
										
												<tr>
													<th class="text-center">SGST</th>
													<td class="text-center">
														<div class="input-group mb-2 mb-sm-0">
															<input name="tax" type="number" value='6' class="form-control" id="SGST" placeholder="0">
															<div class="input-group-addon">%</div>
														</div>
													</td>
												</tr>
											
												<tr>
													<th class="text-center">CGST</th>
													<td class="text-center">
														<div class="input-group mb-2 mb-sm-0">
															<input name="tax" type="number" value='6' class="form-control" id="CGST" placeholder="0">
															<div class="input-group-addon">%</div>
														</div>
													</td>
												</tr>
										
												<tr>
													<th class="text-center">Tax Amount</th>
													<td class="text-center"><input type="number" name='tax_amount' id="tax_amount" placeholder='0.00' class="form-control" readonly/></td>
												</tr>	
											
												<tr>
													<th class="text-center">Grand Total</th>
													<td class="text-center"><input type="number" name='total_amount' id="total_amount" placeholder='0.00' class="form-control" readonly/></td>
												</tr>
									
											</tbody>	
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-4">
									<input type = "submit" id="save" class="btn btn-default pull-left" value = "Save"></input>
							</div>

						</form>
					</div>
				</div>
			</div> 
		</div>
                          
            <footer class="site-footer">
               <div class="container">
                                  <div class="row">
                                    <div class="col-md-10">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <cite class = "text-light">It always seems impossible until it's done.</cite>
                                          <p>Nelson Mandela</p>
                                        </div>
                                        <div class="col-md-4">
                                            <h2 class="footer-heading mb-4">Contact</h2>
                                            <p>Ph no: 9853366488<br>Email: arisercnc@rediffmail.com</p>
                                          </div>
                                        </div>
                                      </div>
                                        <div class="col-md-2">
                                          <h2 class="footer-heading mb-4">Address</h2>
                                          <p>Ariser CNC Millers<br>15/1, P&T Colony,<br>Gandhinagar, Ganapathy,<br>Coimbatore-641006</p>
                                        </div>
                                      </div>
                                </div>
							  </footer>

  	<script src="/public/js/jquery-3.3.1.min.js"></script>
  	<script src="/public/js/jquery-migrate-3.0.1.min.js"></script>
  	<script src="/public/js/jquery-ui.js"></script>
  	<script src="/public/js/jquery.js"></script>
  	<script src="/public/js/popper.min.js"></script>	
  	<script src="/public/js/bootstrap.min.js"></script>
  	<script src="/public/js/owl.carousel.min.js"></script>
  	<script src="/public/js/jquery.stellar.min.js"></script>
  	<script src="/public/js/jquery.countdown.min.js"></script>
  	<script src="/public/js/jquery.magnific-popup.min.js"></script>
  	<script src="/public/js/bootstrap-datepicker.js"></script>
  	<script src="/public/js/aos.js"></script>
  	<script src="/public/js/rangeslider.min.js"></script>
  	<script src="/public/js/main.js"></script>
	<script src="/public/js/bill.js"></script>
	<script src="/public/js/ScrollPositionChange.js"></script>
</div>
</body>
</html>