<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title>Ariser &mdash; Invoice History</title>
		<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=2, maximum-scale=2, shrink-to-fit=no, user-scalable=no">
		<link rel="stylesheet" href="/public/fonts/icomoon/style.css">
		<link rel="stylesheet" href="/public/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/css/magnific-popup.css">
		<link rel="stylesheet" href="/public/css/jquery-ui.css">
		<link rel="stylesheet" href="/public/css/owl.carousel.min.css">
		<link rel="stylesheet" href="/public/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="/public/css/bootstrap-datepicker3.css">
		<link rel="stylesheet" href="/public/fonts/flaticon/font/flaticon.css">
		<link rel="stylesheet" href="/public/css/aos.css">
		<link rel="stylesheet" href="/public/css/rangeslider.css">
		<link rel="stylesheet" href="/public/css/style.css">
		<link rel="stylesheet" href="/public/css/inputappearance.css">
		<link rel="stylesheet" href="/public/css/autocomplete.css">
		<link rel="stylesheet" href="/public/css/stickynavbar.css">
		
		<script>
            let BillHistories = <%- JSON.stringify(BillHistory) %>;
            let DCHistories = <%- JSON.stringify(DCHistory) %>;
            let origColor='#ffffff';
			var ClientList = <%- JSON.stringify(ClientList) %>;
        </script>
		
	</head>
	
	<body>
	
		<div class="site-wrap">
		
			<div class="site-mobile-menu">
			
				<div class="site-mobile-menu-header">
					<div class="site-mobile-menu-close mt-3">
						<span class="icon-close2 js-menu-toggle"></span>
					</div>
				</div>
                  
				<div class="site-mobile-menu-body"></div>
                
			</div>
			
			<header id="navbar" class="site-navbar container py-0 bg-white" role="banner">

				<div class="row align-items-center">
                                  
					<div class="col-6 col-xl-2">
						<h1 class="mb-0 site-logo"><a href="http://localhost:3000/pages/home" class="text-black mb-0"><img style="max-width:330px; margin-top: 10px;" src="/public/images/AriserLogoLandscape.png" />  </a></h1>
					</div>
                                  
					<div class="col-12 col-md-10 d-none d-xl-block">
						<nav class="site-navigation position-relative text-right" role="navigation">
                    
							<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
								<li><a href="home">Home</a></li>
								<li class="has-children active">
									<a href="bill">Invoice</a>
									<ul class="dropdown">
										<li><a href="bill">Create Invoice</a></li>
										<li class="active"><a>Invoice History</a></li>
									</ul>
								</li>
								
								<li class="has-children">
									<a href="dispatch">Incoming</a>
									<ul class="dropdown">
										<li><a href="dispatch">Add Incoming</a></li>
										<li><a href="incomingquery">Incoming History</a></li>
									</ul>
								 </li>
								
								<li><a href="component">Components</a></li>
								<li><a href="customer">Clients</a></li>
								<li><a href="reports">Reports</a></li>
							</ul>                     
						</nav>
					</div>                            
				</div>
                      
			</header>
			
			<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(/public/images/Scene_3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
                <div class="container">
					<div class="row align-items-center justify-content-center text-center" style="padding-top: 90px">
						<div class="col-md-10" data-aos="fade-up" data-aos-delay="400">
							<div class="row justify-content-center mt-5">
								<div class="col-md-8 text-center">
									<h1>Invoice Report</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> 
			
			<div class="site-section bg-white">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
						<form method="post" autocomplete="off" onsubmit="return FormValidation()">
						
							<div class="container">
								<div class="row form-group">
                                    
                                    <div class="col-md-4">
                                        <label for="billno">Invoice No: </label>
                                        <input style="width:300px;" class="form-control" name="filter-billno" id="filter-billno" type="number" placeholder="Invoice number">                      
                                    </div>

                                    <div class="col-md-4">
                                        <label for="customername">Customer: </label>
                                        <div class="autocomplete" style="width:300px;">
                                           <input class="form-control" name="filter-customername" id="filter-customername" type="text" placeholder="Customer">
                                         </div>
									</div>
									
									<div class="col-md-4" >
										<label for="filter-billstatus">Payment Status: </label>
										<select id="filter-billstatus" class="form-control" placeholder="Payment Status" style="width:300px;">
											<option value="0" selected></option> 
											<option value="open">Not Paid</option>
											<option value="close">Paid</option>
										</select>
									</div>

								</div>
									
								<div class="row form-group">
									<div class="col-md-4">
										<div class="input-group-addon datewindow">
										<label for="filter-billdate">Invoice Date from: </label>
										<div class="input-group date" data-provide="datepicker" style="width:300px;">
											<input name="filter-billdate" id="filter-billdatefrom" type="text" placeholder='Enter Date' class="form-control">
											<div class="input-group-addon">
												<span class="glyphicon glyphicon-th"></span>
											</div>
											</div>
										</div>
									</div>
						
									<div class="col-md-4">
										<div class="input-group-addon datewindow">
										<label for="filter-billdate">Invoice Date to: </label>
										<div class="input-group date" data-provide="datepicker" style="width:300px;">
											<input name="filter-billdate" id="filter-billdateto" type="text" placeholder='Enter Date' class="form-control">
											<div class="input-group-addon">
												<span class="glyphicon glyphicon-th"></span>
											</div>
											</div>
										</div>
									</div>

									<div class="col-md-4 align-self-end">
										<input type = "button" id="save" class="btn btn-default pull-left" value = "Filter" onclick="FilterTable()"></input>
									</div>

									</div>

					            </div>
								
							</div>
							
						</form>
						</div>
					</div>
					
					<div class="row" style="padding-top: 10px; width: 100%">
							<div class="col-md-1" data-aos="fade">
								</div>
						<div class="col-md-10 mb-5" data-aos="fade">
							<form method="post" action="/pages/printpage" id="formbillid" autocomplete="off">
								<input id="invoiceno" name="inviceno" type='hidden'></input>
								<input id="customername" name="customername" type='hidden'></input>
							<table class="table table-bordered table-hover" id="tab_logic" style="width:100%">
                                
								<thead>
									
									<tr>
										<th class="text-center" width="10%"> Invoice no </th>
                                        <th class="text-center" width="29%"> Customer </th>
                                        <th class="text-center" width="13%"> Invoice Date </th>
                                        <th class="text-center" width="10%"> GST </th>
                                        <th class="text-center" width="10%"> Total </th>
										<th class="text-center" width="20%"> Payment </th>
										<th class="text-center" width="13%"> Print </th>
                                    </tr>
                                            
                                </thead>
                                            
                                <tbody id="#tb">
                                </tbody>
                                        
                            </table>
							</form>
						</div>
						<div class="col-md-1" data-aos="fade">
						</div>
					</div>
				</div>
			</div>
			
			                    <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
                        
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Alert</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                        </div>
                        
                        <div class="modal-body">
                            Do you want to update the status of the Invoice?
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button id="updatestatus" onclick="UpdateBill()" data-dismiss="modal" type="button" class="btn btn-primary">Update</button>
                        </div>
                    
					</div>
				</div>
			</div>
			
			<script src="/public/js/jquery-3.3.1.min.js"></script>
            <script src="/public/js/jquery-migrate-3.0.1.min.js"></script>
			<script src="/public/js/jquery-ui.js"></script>
			<script src="/public/js/jquery.js"></script>
			<script src="/public/js/popper.min.js"></script>
			<script src="/public/js/bootstrap.min.js"></script>
			<script src="/public/js/owl.carousel.min.js"></script>
			<script src="/public/js/jquery.stellar.min.js"></script>
			<script src="/public/js/jquery.countdown.min.js"></script>
			<script src="/public/js/jquery.magnific-popup.min.js"></script>
			<script src="/public/js/bootstrap-datepicker.js"></script>
			<script src="/public/js/aos.js"></script>
			<script src="/public/js/rangeslider.min.js"></script>
			<script src="/public/js/main.js"></script>
			<script src="/public/js/billhistory.js"></script>
			<script src="/public/js/ScrollPositionChange.js"></script>
			
		</div>
		
	</body>
	
</html>