<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ariser &mdash; Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/public/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/magnific-popup.css">
    <link rel="stylesheet" href="/public/css/jquery-ui.css">
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="/public/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="/public/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="/public/css/aos.css">
    <link rel="stylesheet" href="/public/css/rangeslider.css">

    <link rel="stylesheet" href="/public/css/style.css">

    <link rel="stylesheet" href="/public/logo/CSS/salogos.css">
    
    
  </head>

  <body>
       
        <div class="site-wrap">

                <div class="site-mobile-menu">
                  <div class="site-mobile-menu-header">
                    <div class="site-mobile-menu-close mt-3">
                      <span class="icon-close2 js-menu-toggle"></span>
                    </div>
                  </div>
                  <div class="site-mobile-menu-body"></div>
                </div>

                
    <header class="site-navbar container py-0 bg-white" role="banner">

      <!-- <div class="container"> -->
        <div class="row align-items-center">
                
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="http://localhost:3000/pages/home" class="text-black mb-0"><img style="max-width:330px; margin-top: 10px;" src="/public/images/AriserLogoLandscape.png" />  </a></h1>
          </div>
                
          <div class="col-12 col-md-10 d-none d-xl-block">
              <nav class="site-navigation position-relative text-right" role="navigation">
                <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
                
                  <li class="active"><a href="index.html">Home</a></li>
                  <li><a href="http://localhost:3000/pages/bill">Bill History</a></li>
                  <li><a href="about.html">Dispatch</a></li>
                  
                  <li><a href="blog.html">Drawings</a></li>
                  <li><a href="login.html">Clients</a></li>
                  <li><a href="login.html">Invoice</a></li>
              
                </ul>
              </nav>
           </div>      
              </div>
    </header>

          <div class="site-blocks-cover overlay" style="background-image: url(/public/images/Scene_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                   <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                     <a href="http://localhost:3000/pages/bill" class="popular-category h-100">
                      <img src="/public/logo/bill.png" height="42" width="42">
                      <br>
                      <br>
                      <span class="caption mb-2 d-block lead">Bill</span>
                      </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                      <a href="#" class="popular-category h-100">
                          <img src="/public/logo/dispatch.png" height="42" width="42">
                          <br>
                          <br> 
                          <span class="caption mb-2 d-block lead">Dispatch</span>
                      </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                      <a href="#" class="popular-category h-100">
                          <img src="/public/logo/client.png" height="42" width="42">
                          <br>
                          <br>  
                          <span class="caption mb-2 d-block lead">Client</span>
                      </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                      <a href="#" class="popular-category h-100">
                          <img src="/public/logo/drawing.png" height="42" width="42">
                          <br>
                          <br>  
                          <span class="caption mb-2 d-block lead">Drawings</span>
                      </a>
                    </div>
                    <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
                        <a href="#" class="popular-category h-100">
                            <img src="/public/logo/invoice.jpg" height="42" width="42">
                            <br>
                            <br>  
                            <span class="caption mb-2 d-block lead">Invoice</span>
                        </a>
                      </div>
                  </div>
              </div>
            </div>
            

          <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-6">
                <cite class = "text-light">It always seems impossible until it's done.</cite>
                <p>Nelson Mandela</p>
              </div>
              <div class="col-md-4">
                  <h2 class="footer-heading mb-4">Contact</h2>
                  <p>Ph no: 9853366488<br>Email: arisercnc@rediffmail.com</p>
                </div>
              </div>
            </div>
              <div class="col-md-2">
                <h2 class="footer-heading mb-4">Address</h2>
                <p>Ariser CNC Millers<br>15/1, P&T Colony,<br>Gandhinagar, Ganapathy,<br>Coimbatore-641006</p>
                </div>
            </div>
          </div>
      </div>
    </footer>
  </div>
        <script src="/public/js/jquery-3.3.1.min.js"></script>
        <script src="/public/js/jquery-migrate-3.0.1.min.js"></script>
        <script src="/public/js/jquery-ui.js"></script>
        <script src="/public/js/popper.min.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/js/owl.carousel.min.js"></script>
        <script src="/public/js/jquery.stellar.min.js"></script>
        <script src="/public/js/jquery.countdown.min.js"></script>
        <script src="/public/js/jquery.magnific-popup.min.js"></script>
        <script src="/public/js/bootstrap-datepicker.min.js"></script>
        <script src="/public/js/aos.js"></script>
        <script src="/public/js/rangeslider.min.js"></script>
      
        <script src="/public/js/main.js"></script>
  </body>
</html>